body{
  /* font-family: "Oswald", Helvetica, Arial, sans-serif; */
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Acme', sans-serif !important;
  /* The image used */
  background-image: url("https://cdn.hipwallpaper.com/i/83/89/Mbc8VS.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container, .row {
  height: 100%;
  min-height: 100%;
}

html, body {
  height: 100%;
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.img-wrapper img {
  transform:scale(8);
}

.img-wrapper img {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  
  vertical-align: middle;
}

.scrolling-card {
  max-height: 300px;
  overflow-y: auto;
}

/* #gameContent, #post-gamePage {
  display: none
} */