body{
  /* font-family: "Oswald", Helvetica, Arial, sans-serif; */
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Acme', sans-serif !important;

}
.container, .row {
  height: 100%;
  min-height: 100%;
}

html, body {
  height: 100%;
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.img-wrapper img {
  transform:scale(8);
}

.img-wrapper img {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  
  vertical-align: middle;
}

.scrolling-card {
  max-height: 300px;
  overflow-y: auto;
}